<section>
     <span class="sub-title">GET IN TOUCH</span>
     <h3 class="title">CONTACT</h3>
     <div class="row row-cols-1 row-cols-lg-2 gy-4">
          <div class="col">
               <div class="d-flex align-items-center">
                    <span>
                         <i class="fa-solid fa-globe"></i>
                    </span>
                    <a href="mailto:info@domain.com" target="_blank">info@domain.com</a>
               </div>
               <div class="d-flex align-items-center">
                    <span>
                         <i class="fa-regular fa-map"></i>
                    </span>
                    <p class="mb-0">198 West 21th Street, Suite 721 New York NY 10016</p>
               </div>
               <div class="d-flex align-items-center">
                    <span>
                         <i class="fa-solid fa-phone-flip"></i>
                    </span>
                    <a href="tel:+123 456 7890">+123 456 7890</a>
               </div>
          </div>
          <div class="col">
               <form>
                    <input class="form-control shadow-none border-0 rounded-0" type="text" name="name" placeholder="Name">
                    <input class="form-control shadow-none border-0 rounded-0" type="email" name="email" placeholder="Email">
                    <input class="form-control shadow-none border-0 rounded-0" type="text" name="subject" placeholder="Subject">
                    <textarea class="form-control shadow-none border-0 rounded-0" name="message" placeholder="Message"></textarea>
                    <button class="btn shadow-none border-0 rounded-0 text-white text-uppercase" type="submit">send message</button>
               </form>
          </div>
     </div>
</section>