<aside class="py-4 text-center d-flex flex-column align-items-center justify-content-start">
     <div class="rounded-circle overflow-hidden">
          <img class="w-100 object-fit-cover" loading="lazy" src="assets/imgs/about.jpg" alt="portfolio">
     </div>
     <h2>Jakson Ford</h2>
     <p><span class="text-info">UI/UX/DESIGNER</span> IN PHILIPPINES</p>
     <ul>
          <li>
               <a routerLink="home" routerLinkActive="active">Home</a>
          </li>
          <li>
               <a routerLink="about" routerLinkActive="active">about</a>
          </li>
          <li>
               <a routerLink="services" routerLinkActive="active">services</a>
          </li>
          <li>
               <a routerLink="skills" routerLinkActive="active">skills</a>
          </li>
          <li>
               <a routerLink="education" routerLinkActive="active">education</a>
          </li>
          <li>
               <a routerLink="experience" routerLinkActive="active">experience</a>
          </li>
          <li>
               <a routerLink="work" routerLinkActive="active">work</a>
          </li>
          <li>
               <a routerLink="blog" routerLinkActive="active">blog</a>
          </li>
          <li>
               <a routerLink="contact" routerLinkActive="active">contact</a>
          </li>
     </ul>
     <p class="mb-0">© Copyright ©2024 All rights reserved |</p>
     <p class="mb-0">This template is made with  by <span>Colorlib</span></p>
     <p class="mb-0">Demo Images: <span>Unsplash.com</span></p>
</aside>