<section>
     <span class="sub-title">ABOUT US</span>
     <h3 class="title">WHO AM I?</h3>
     <p><strong>Hi I'm Jackson Ford</strong> On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>
     <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
     <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-4">
          <div class="col">
               <div>
                    <i class="fa-regular fa-lightbulb"></i>
                    <h4>Graphic Design</h4>
               </div>
          </div>
          <div class="col">
               <div>
                    <i class="fa-solid fa-pen-ruler"></i>
                    <h4>Web Design</h4>
               </div>
          </div>
          <div class="col">
               <div>
                    <i class="fa-solid fa-database"></i>
                    <h4>Software</h4>
               </div>
          </div>
          <div class="col">
               <div>
                    <i class="fa-solid fa-mobile-screen"></i>
                    <h4>Application</h4>
               </div>
          </div>
     </div>
     <div>
          <h2 class="mb-0">I am happy to know you</h2>
          <h2>that 300+ projects done sucessfully!</h2>
          <button class="btn shadow-none text-black border-black rounded-0 bg-transparent text-uppercase" type="button">Hire me</button>
     </div>
</section>