<section>
     <span class="sub-title">MY WORK</span>
     <h3 class="title">RECENT WORK</h3>
     <ul class="nav mb-4">
          <li class="nav-item">
               <a class="nav-link active ps-0 pe-2">Graphic Design</a>
          </li>
          <li class="nav-item">
               <a class="nav-link px-2">Web Design</a>
          </li>
          <li class="nav-item">
               <a class="nav-link px-2">Software</a>
          </li>
          <li class="nav-item">
               <a class="nav-link px-2">Apps</a>
          </li>
     </ul>
     <div class="row row-cols-1 row-cols-md-2 gy-4">
          <div class="col">
               <div style="background-image: url(./../../../assets/imgs/img-1.jpg.webp);">
                    <div class="d-flex flex-column align-items-start justify-content-between">
                         <div>
                              <h6 class="text-white">WORK 01</h6>
                              <p class="mb-0 text-white">Website</p>
                         </div>
                         <div>
                              <span>
                                   <i class="fa-solid fa-share-nodes"></i>
                              </span>
                              <span>
                                   <i class="fa-solid fa-eye"></i>
                                   100
                              </span>
                              <span>
                                   <i class="fa-solid fa-heart"></i>
                                   49
                              </span>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col">
               <div style="background-image: url(./../../../assets/imgs/img-2.jpg.webp);">
                    <div class="d-flex flex-column align-items-start justify-content-between">
                         <div>
                              <h6 class="text-white">WORK 02</h6>
                              <p class="mb-0 text-white">Animation</p>
                         </div>
                         <div>
                              <span>
                                   <i class="fa-solid fa-share-nodes"></i>
                              </span>
                              <span>
                                   <i class="fa-solid fa-eye"></i>
                                   100
                              </span>
                              <span>
                                   <i class="fa-solid fa-heart"></i>
                                   49
                              </span>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col">
               <div style="background-image: url(./../../../assets/imgs/img-3.jpg.webp);">
                    <div class="d-flex flex-column align-items-start justify-content-between">
                         <div>
                              <h6 class="text-white">WORK 03</h6>
                              <p class="mb-0 text-white">Illustration</p>
                         </div>
                         <div>
                              <span>
                                   <i class="fa-solid fa-share-nodes"></i>
                              </span>
                              <span>
                                   <i class="fa-solid fa-eye"></i>
                                   100
                              </span>
                              <span>
                                   <i class="fa-solid fa-heart"></i>
                                   49
                              </span>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col">
               <div style="background-image: url(./../../../assets/imgs/img-4.jpg.webp);">
                    <div class="d-flex flex-column align-items-start justify-content-between">
                         <div>
                              <h6 class="text-white">WORK 04</h6>
                              <p class="mb-0 text-white">Application</p>
                         </div>
                         <div>
                              <span>
                                   <i class="fa-solid fa-share-nodes"></i>
                              </span>
                              <span>
                                   <i class="fa-solid fa-eye"></i>
                                   100
                              </span>
                              <span>
                                   <i class="fa-solid fa-heart"></i>
                                   49
                              </span>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col">
               <div style="background-image: url(./../../../assets/imgs/img-5.jpg.webp);">
                    <div class="d-flex flex-column align-items-start justify-content-between">
                         <div>
                              <h6 class="text-white">WORK 05</h6>
                              <p class="mb-0 text-white">Graphic, Logo</p>
                         </div>
                         <div>
                              <span>
                                   <i class="fa-solid fa-share-nodes"></i>
                              </span>
                              <span>
                                   <i class="fa-solid fa-eye"></i>
                                   100
                              </span>
                              <span>
                                   <i class="fa-solid fa-heart"></i>
                                   49
                              </span>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col">
               <div style="background-image: url(./../../../assets/imgs/img-6.jpg.webp);">
                    <div class="d-flex flex-column align-items-start justify-content-between">
                         <div>
                              <h6 class="text-white">WORK 06</h6>
                              <p class="mb-0 text-white">Web Design</p>
                         </div>
                         <div>
                              <span>
                                   <i class="fa-solid fa-share-nodes"></i>
                              </span>
                              <span>
                                   <i class="fa-solid fa-eye"></i>
                                   100
                              </span>
                              <span>
                                   <i class="fa-solid fa-heart"></i>
                                   49
                              </span>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <button class="w-100 mt-5 py-3 btn shadow-none border-0 rounded-0 text-white text-uppercase fw-light" type="button">Load More <i class="fa-solid fa-rotate-right"></i></button>
</section>