<section>
     <span class="sub-title">EDUCATION</span>
     <h3 class="title">EDUCATION</h3>
     <div class="accordion" id="accordionExample">
          <div class="accordion-item border-0 rounded-0">
               <h2 class="accordion-header">
                    <button class="accordion-button shadow-none rounded-0 border" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         MASTER DEGREE GRAPHIC DESIGN
                    </button>
               </h2>
               <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body border mt-2 d-md-flex align-items-start justify-content-between">
                         <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                         <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
               </div>
          </div>
          <div class="accordion-item border-0 rounded-0">
               <h2 class="accordion-header">
                    <button class="accordion-button shadow-none rounded-0 border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         BACHELOR DEGREE OF COMPUTER SCIENCE
                    </button>
               </h2>
               <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body border mt-2">
                         <p>Far far away, behind the word <strong>mountains</strong>, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                         <ul>
                              <li>Separated they live in Bookmarksgrove right</li>
                              <li>Separated they live in Bookmarksgrove right</li>
                         </ul>
                    </div>
               </div>
          </div>
          <div class="accordion-item border-0 rounded-0">
               <h2 class="accordion-header">
                    <button class="accordion-button shadow-none rounded-0 border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         DIPLOMA IN INFORMATION TECHNOLOGY
                    </button>
               </h2>
               <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body border mt-2">
                         <p>Far far away, behind the word <strong>mountains</strong>, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
               </div>
          </div>
          <div class="accordion-item border-0 rounded-0">
               <h2 class="accordion-header">
                    <button class="accordion-button shadow-none rounded-0 border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                         DIPLOMA IN INFORMATION TECHNOLOGY
                    </button>
               </h2>
               <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body border mt-2">
                         <p>Far far away, behind the word <strong>mountains</strong>, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
               </div>
          </div>
          <div class="accordion-item border-0 rounded-0">
               <h2 class="accordion-header">
                    <button class="accordion-button shadow-none rounded-0 border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                         HIGH SCHOOL SECONDARY EDUCATION
                    </button>
               </h2>
               <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body border mt-2">
                         <p>Far far away, behind the word <strong>mountains</strong>, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
               </div>
          </div>
     </div>
</section>