<section>
     <div class="content">
          <span class="sub-title">WHAT I DO?</span>
          <h3 class="title mb-2">HERE ARE SOME OF MY</h3>
          <h3 class="title">EXPERTISE</h3>
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
               <div class="col">
                    <div>
                         <div>
                              <i class="fa-regular fa-lightbulb"></i>
                         </div>
                         <h4>INNOVATIVE IDEAS</h4>
                         <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
               </div>
               <div class="col">
                    <div>
                         <div>
                              <i class="fa-solid fa-database"></i>
                         </div>
                         <h4>SOFTWARE</h4>
                         <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
               </div>
               <div class="col">
                    <div>
                         <div>
                              <i class="fa-solid fa-mobile-screen"></i>
                         </div>
                         <h4>APPLICATION</h4>
                         <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
               </div>
               <div class="col">
                    <div>
                         <div>
                              <i class="fa-solid fa-layer-group"></i>
                         </div>
                         <h4>GRAPHIC DESIGN</h4>
                         <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
               </div>
               <div class="col">
                    <div>
                         <div>
                              <i class="fa-solid fa-database"></i>
                         </div>
                         <h4>SOFTWARE</h4>
                         <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
               </div>
               <div class="col">
                    <div>
                         <div>
                              <i class="fa-solid fa-mobile-screen"></i>
                         </div>
                         <h4>APPLICATION</h4>
                         <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
               </div>
          </div>
     </div>
     <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
          <div class="col">
               <div>
                    <h4>309</h4>
                    <p>CUPS OF COFFEE</p>
               </div>
          </div>
          <div class="col">
               <div>
                    <h4>356</h4>
                    <p>PROJECTS</p>
               </div>
          </div>
          <div class="col">
               <div>
                    <h4>30</h4>
                    <p>CLIENTS</p>
               </div>
          </div>
          <div class="col">
               <div>
                    <h4>10</h4>
                    <p>PARTNERS</p>
               </div>
          </div>
     </div>
</section>