<section>
     <span class="sub-title">MY SPECIALTY</span>
     <h3 class="title">MY SKILLS</h3>
     <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
     <div class="row row-cols-1 row-cols-md-2">
          <div class="col">
               <div>
                    <p class="mb-0">Photoshop</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                         <div class="progress-bar" style="width: 75%">
                              <span>75%</span>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col">
               <div>
                    <p class="mb-0">jQuery</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                         <div class="progress-bar" style="width: 60%">
                              <span>60%</span>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col">
               <div>
                    <p class="mb-0">HTML5</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                         <div class="progress-bar" style="width: 85%">
                              <span>85%</span>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col">
               <div>
                    <p class="mb-0">CSS3</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                         <div class="progress-bar" style="width: 90%">
                              <span>90%</span>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col">
               <div>
                    <p class="mb-0">WordPress</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                         <div class="progress-bar" style="width: 70%">
                              <span>70%</span>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col">
               <div>
                    <p class="mb-0">SEO</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                         <div class="progress-bar" style="width: 80%">
                              <span>80%</span>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>