<section>
     <span class="sub-title">EXPERIENCE</span>
     <h3 class="title">EXPERIENCE</h3>
     <div class="row">
          <div class="col-2 col-md-1 px-md-0 d-flex align-items-center justify-content-center">
               <div>
                    <span>
                         <i class="fa-solid fa-pencil"></i>
                    </span>
               </div>
          </div>
          <div class="col-10 col-md-11">
               <div>
                    <div class="d-md-flex align-items-center">
                         <h4>Full Stack Developer</h4>
                         <span class="m-0 ms-md-3">2017-2018</span>
                    </div>
                    <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
               </div>
          </div>
          <div class="col-2 col-md-1 px-md-0 d-flex align-items-center justify-content-center">
               <div>
                    <span>
                         <i class="fa-solid fa-pencil"></i>
                    </span>
               </div>
          </div>
          <div class="col-10 col-md-11">
               <div>
                    <div class="d-md-flex align-items-center">
                         <h4>Front End Developer at Google Company</h4>
                         <span class="m-0 ms-md-3">2017-2018</span>
                    </div>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
               </div>
          </div>
          <div class="col-2 col-md-1 px-md-0 d-flex align-items-center justify-content-center">
               <div>
                    <span>
                         <i class="fa-solid fa-pencil"></i>
                    </span>
               </div>
          </div>
          <div class="col-10 col-md-11">
               <div>
                    <div class="d-md-flex align-items-center">
                         <h4>System Analyst</h4>
                         <span class="m-0 ms-md-3">2017-2018</span>
                    </div>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
               </div>
          </div>
          <div class="col-2 col-md-1 px-md-0 d-flex align-items-center justify-content-center">
               <div>
                    <span>
                         <i class="fa-solid fa-pencil"></i>
                    </span>
               </div>
          </div>
          <div class="col-10 col-md-11">
               <div>
                    <div class="d-md-flex align-items-center">
                         <h4>Creative Designer</h4>
                         <span class="m-0 ms-md-3">2017-2018</span>
                    </div>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
               </div>
          </div>
          <div class="col-2 col-md-1 px-md-0 d-flex align-items-center justify-content-center">
               <div>
                    <span>
                         <i class="fa-solid fa-pencil"></i>
                    </span>
               </div>
          </div>
          <div class="col-10 col-md-11">
               <div>
                    <div class="d-md-flex align-items-center">
                         <h4>UI/UX Designer at Envato</h4>
                         <span class="m-0 ms-md-3">2017-2018</span>
                    </div>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
               </div>
          </div>
          <div class="col-2 col-md-1 px-md-0 d-flex align-items-center justify-content-center">
               <div>
                    <span></span>
               </div>
          </div>
     </div>
</section>